.banya-block {
    border: 1px solid black;
    padding: 10px;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.in-text-img {
    float:left;
    margin-right: 10px;
}

.in-text-img:hover {
    cursor: pointer;
}

.path {
    padding-bottom: 0;
}

#large-preview {
    position: fixed;
    margin-top: -1vh;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .3);
}

.close-button-container {
    position: absolute;
    width: 99.4vw;
    text-align: right;
}

.close-large-preview-button {
    background: none;
    border: none;
    background-color: rgba(255, 255, 255, .7);
    color: black;
    font-size: 3rem;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;

    margin: 50px;
}

#large-img {
    position: absolute;
    height: 50vw;
    max-height: 75vh;
    
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.previewed {
	opacity: 1;
	transition: 0.3s;
}

.invisible {
	opacity: 0;
	transition: 0.3s;
}

@media(min-width: 320px) and (max-width: 720px) {
    .img-container {
        text-align: center;
        margin-bottom: 20px;
    }

    .img-discription {

        padding: 10px;
    }

    .in-text-img {
        float: none;
    }

    .banya-block {
        border: none;
    }

    #large-img {
        position: absolute;
        height: 100vw;
        max-height: 75vh;
        
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
} 